body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/mapa1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.circulo{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #222;
    margin-right: 50px;
    transition: .3s;
    position: absolute;
    bottom: 38%;
    left: 14%;
}
.circulo:hover{
    cursor: pointer;
    background: #D7CC9E;
    transform: scale(1.5);
}

.texto{
    padding: 50px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #222;
    visibility: hidden;
    background: linear-gradient(to right, #D7CC93 , rgba(255, 255, 255, 0.342) );
    backdrop-filter: blur(50px);
    border: none;
    position: absolute;
    bottom: 40%;
    left: 16%;
}

.circulo1{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #222;
    margin-right: 50px;
    transition: .3s;
    position: absolute;
    bottom: 35%;
    left: 9%;
}

.circulo1:hover{
    cursor: pointer;
    background: rgb(32, 255, 225);
}

.circulo2{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #222;
    margin-right: 50px;
    transition: .3s;
    position: absolute;
    bottom: 18%;
    left: 14.5%;
}

.circulo2:hover{
    cursor: pointer;
    background: rgb(32, 255, 225);
}

.circulo3{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #222;
    margin-right: 50px;
    transition: .3s;
    position: absolute;
    bottom: 35%;
    left: 35%;
}

.circulo3:hover{
    cursor: pointer;
    background: rgb(32, 255, 225);
}

